body {
    background-image: url('../img/FONDO.jpg');
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 20px 40px 20px;
    background-color: rgba(255,255,255,0.95);
    border-radius: 12px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.18);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    max-width: 120px;
    height: auto;
    margin-bottom: 18px;
}

.titulo {
    font-size: 2rem;
    margin: 10px 0 8px 0;
    text-align: center;
    color: #222;
    font-weight: bold;
    letter-spacing: 1px;
}

.descripcion {
    font-size: 1.1rem;
    margin-bottom: 24px;
    text-align: center;
    color: #444;
}


.btn-ver-mas {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 28px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    transition: background 0.2s, transform 0.2s;
}

.btn-ver-mas:hover {
    background-color: #0056b3;
    transform: translateY(-2px) scale(1.04);
}
